@import 'setup';

//---------------
//colour palette
//---------------
//lightest blue: 	#e7f5de (231,245,222)
//pale blue: 	#c8d6ca	(200,214,202)
//pale teal: 	#99bfaa	(153,191,170)
//dark blue:    #5c868d	(92,134,141)
//dark red:     #5c3d46	(92,61,70)

// *{
 	// border: 1px solid aquamarine;
// }

body, html{
	height: 100%;
	margin: 0;
	min-width: 320px;
	animation:myfirst 10s;
    
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}


@keyframes myfirst
{
0%   {background:#e7f5de;}
25%  {background: #c8d6ca;}
50%  {background:#99bfaa;}
75% {background:#5c868d;}
100%   {background:#e7f5de;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:#e7f5de;}
25%  {background: #c8d6ca;}
50%  {background:#99bfaa;}
75% {background:#5c868d;}
100%   {background:#e7f5de;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:#e7f5de;}
25%  {background: #c8d6ca;}
50%  {background:#99bfaa;}
75% {background:#5c868d;}
100%   {background:#e7f5de;}
}

canvas{
	width: 100%;
	height: 100%;
}

#instruction{
	color: 	#5c868d;
	text-align: center;
}

.container{
	position: absolute;
	width: 100%;
	height: 100%;
}

.formContainer{
	background: rgba(231,245,222, 0.8);
	z-index: 1;
	color: 	#5c868d;
	padding: 1em;
	margin: 0 auto;
	text-align: center;
	width: 60%;
	border-radius: 15px;
	line-height: 30px;
	margin-top: 1em;
	margin-bottom: 2em;
	// position: absolute;
	// left: 50%;
	// transform: translate(-50%);
}

.question{
	display: inline-block;
	color: #426066;
	text-align: left;
}

.col2-grid{
	display: grid;
	grid-template-columns: 1fr 2fr;
	text-align: left;
	grid-row-gap: 1em;
}

.cabinImg{
	margin: 0 auto;
	width: 60%;
	height: auto;
	background: rgba(231,245,222, 0.8);
	padding: 10px;
	border-radius: 15px;
}

.cabinImg img{
	width: 100%;
	height: 100%;
}

.hide{
	display: none;
}

#inspiration{
	width: 40px;
	margin: 0 auto;
}

#inspiration img{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	margin-top: 2em;
}

#inspiration p{
	width: 50px;
	font-size: 0.5em;
	margin: 0;
	color: darkslategray;
}

a{
	text-decoration: none;
}
input[type='text']{
	border-radius: 5px;
	border: #5c868d 1px solid;
	color: #426066;
	background: #e7f5de;
}

input[type='submit']{
	background: #5c868d;
	color: #e7f5de;
	border-radius: 5px;
}

input[type = "submit"]:hover{
	background: #99bfaa;
	color: #5c868d;
}

button{
	color: #5c868d;
	background: none;
	border: none;
	border-radius: 5px;
}

button:hover{
	color: #6d9ea7;
}

@media only screen and (max-width: 850px) {
	.cabinImg{
	margin: 0 auto;
	width: 60%;
	height: 100%;
	background: rgba(231,245,222, 0.8);
	padding: 10px;
	border-radius: 15px;
	}


}

@media only screen and (max-width: 520px) {
	.formContainer{
		margin: 2em auto;
		width: 80%;
		padding: 10px;
	}

	.cabinImg{
	width: 80%;
	}
}